body {
    background: #0253af;
}
#app {
    background: #55a4ff;
    padding: 20px;
    color: white;
    width: 100%;
    box-shadow: 1px 1px 5px #fff;
    
}
#app ul{
   margin-left: -30px; 
}
#app li {
    padding: 10px;
    color: white;
    border-bottom: 1px solid white;
    list-style: none;
   
    
}
@media (max-width: 768px){
    #app li {
        text-align: center;
    }  
}
#app a{
    display: flex;
    flex-direction: column-reverse;
    
   
}
.btn-add {
    color: white;
}
#app p{
    font-size: 18pt;
    text-align: center;
}
#comunicados {
    margin-bottom: 10px;
}
#comunicados p{
    margin-top: 10px;
}
.collapse-content {
    border: 3px dashed white;
    padding-top: 15px;
}